[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

police-api-client = "*"
ipython = "*"
geopy = "*"
arrow = "*"
requests = "*"
requests-cache = "*"


[requires]

python_version = "3.5"
